<!-- Header Image -->
{% if article.headerimage %}
    <div class="headerimage-article">

        {% if article.headerimage[-3:].lower() in ['jpg', 'png'] %}
            <img alt="Article Header Image" class="b-lazy" data-src="{{ article.headerimage }}" src="{{ article.headerimage[:-4] + '-thumbnail' + article.headerimage[-4:] }}">
        {% else %}
            <img alt="Article Header Image" src="{{article.headerimage}}">
        {% endif %}
        
        {% if article.headerimagecaption %}
            <p class="caption">{{ article.headerimagecaption }}</p>
        {% endif %}
    </div>
{% endif %}

