{% extends "base.html" %}

{% block title %}Archive &ndash; {{ SITENAME }}{% endblock %}

{% block content %}


<article class=page>
  <header class="page-header">
    <h1>Archive of Posts</h1>
  </header>

  <section class="page-content">

    <ul>
      {% for year, year_group in dates|groupby('date.year')|reverse %}
        <li>
          <strong><a href="{{ SITEURL }}/posts/{{ (year_group|first).date|strftime('%Y') }}/">{{ (year_group|first).date|strftime('%Y') }}</a></strong>
        </li>

        <ul>
        {% for month, month_group in year_group|groupby('date.month')|reverse %}
          <li>
            <a href="{{ SITEURL }}/posts/{{ (year_group|first).date|strftime('%Y') }}/{{ (month_group|first).date|strftime('%b') }}/">{{ (month_group|first).date|strftime('%b') }}</a>
          </li>
            
          <ul>
          {% for article in month_group %}
              <li>
                <a href="{{ SITEURL }}/{{ article.url }}/">{{ article.title }}</a>
              </li>
          {% endfor %}
          </ul>

        {% endfor %}
        </ul>

      {% endfor %}
    </ul>

  </section>

</article>

{% endblock content %}
