<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

    <!-- Meta -->
    <meta name="description" content="{{ SITENAME }} &ndash; {{ SITESUBTITLE }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <meta itemprop="name" content="{{ SITENAME }}">
    <meta itemprop="description" content="{{ SITESUBTITLE }}">

    {% block site_image %}<meta itemprop="image" content="{{ SITEIMAGE }}">{% endblock site_image %}
    

    <meta http-equiv="Cache-control" content="must-revalidate, max-age=3600">

    <!-- Social -->
    {% if article %}
      <meta property="article:author" content="{{ article.author }}" />
      <meta property="article:section" content="{{ article.category }}" />
      <meta property="article:published_time" content="{{ article.date.strftime("%Y-%m-%d") }}" />

      <meta property="og:type" content="article"/>
      <meta property="og:title" content="{{ article.title|striptags }}"/>
      <meta property="og:description" content="{{ article.summary|striptags|escape }}"/>
      <meta property="og:site_name" content="{{ SITENAME }}" />
      <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}/"/>
      <meta property="og:image" content="{{ article.headerimage }}"/>

      <meta name="twitter:card" content="summary">
      <meta name="twitter:title" content="{{ article.title|striptags }}">
      <meta name="twitter:description" content="{{ article.summary|striptags|escape }}">
      <meta name="twitter:url" content="{{ SITEURL }}/{{ article.url }}/">
      <meta name="twitter:image" content="{{ article.headerimage }}">
    
    {% elif page %}
      <meta property="og:type" content="article"/>
      <meta property="og:title" content="{{ page.title }}"/>
      <meta property="og:description" content="{{ SITESUBTITLE }}"/>
      <meta property="og:site_name" content="{{ SITENAME }}" />
      <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}"/>
      <meta property="og:image" content="{{ SITEIMAGE }}"/>

      <meta name="twitter:card" content="summary">
      <meta name="twitter:title" content="{{ page.title }}">
      <meta name="twitter:description" content="{{ SITESUBTITLE }}">
      <meta name="twitter:url" content="{{ SITEURL }}/{{ page.url }}">
      <meta name="twitter:image" content="{{ SITEIMAGE }}">
    
    {% else %}
      <meta property="og:type" content="website"/>
      <meta property="og:title" content="{{ SITENAME }}"/>
      <meta property="og:description" content="{{ SITESUBTITLE }}"/>
      <meta property="og:site_name" content="{{ SITENAME }}" />
      <meta property="og:url" content="{{ SITEURL }}"/>
      <meta property="og:image" content="{{ AUTHOR_AVATAR }}"/>

      <meta name="twitter:card" content="summary">
      <meta name="twitter:title" content="{{ SITENAME }}">
      <meta name="twitter:description" content="{{ SITESUBTITLE }}">
      <meta name="twitter:url" content="{{ SITEURL }}">
      <meta name="twitter:image" content="{{ AUTHOR_AVATAR }}">
    {% endif %}

    <!-- Feed -->
    {% if FEED_ALL_ATOM %}
      <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
      <link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
      <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
      <link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
      <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(slug=category.slug) }}" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
      <link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(slug=category.slug) }}" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
      <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(slug=tag.slug) }}" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
      <link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(slug=tag.slug) }}" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    {% if DISQUS_SITENAME %}
      <link rel="alternate" type="application/rss+xml" href="http://{{ DISQUS_SITENAME }}.disqus.com/latest.rss" title="{{ SITENAME }} Comments RSS Feed">
    {% endif %}

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css">

    <!-- Fonts -->
    <script src="https://use.fontawesome.com/6af5d1a69f.js" async></script>


    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ SITEURL }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ SITEURL }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ SITEURL }}/favicon-16x16.png">
    <link rel="manifest" href="{{ SITEURL }}/site.webmanifest">
    <link rel="mask-icon" href="{{ SITEURL }}/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#ffffff">

    {% block head %}{% endblock %}
    
  </head>

  <body>

    <a id="topbar"></a>

    {% include '_includes/navigation.html' %}

    {% block content_title %}{% endblock %}

    {% block content %}{% endblock %}

    {% include "_includes/footer.html" %}

    <a href="#topbar" class="back-to-top" aria-label="Back to Top"><i class="fa fa-arrow-up"></i></a>

    <script src="{{ SITEURL }}/theme/js/scripts.js" ></script>

    {% if ENVIRONMENT %}

      {% include "_includes/external.html" %}

    {% endif %}

    {% block after_external %}{% endblock %}

  </body>

</html>
